<!doctype html>
<title>{% block title %}{% endblock %} - test task</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h3>Test Task: Weather dumps from Yandex for 5 highest population cities in Russia</h3>
</nav>
{% if g.user %}
  <br>
  <span>Hello, {{ g.user['username'] }}</span>
  <a href="{{ url_for('auth.logout') }}">Log Out</a>
{% else %}
  <a href="{{ url_for('auth.register') }}">Register</a>
  <a href="{{ url_for('auth.login') }}">Log In</a>
{% endif %}
</ul>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
