{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Weather Dumps:{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if actual['cit_1'] %}
    <div style="font-size:15px; font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace ">From last Dump:</div>
    <div style="font-size:12px; font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace "><cty>{{ actual['cit_1'] }}</cty> t{{ actual['temp_1'] }}℃(l.f.:{{ actual['f_l_1'] }}℃) {{ actual['con_1'] }}</div>
    <div style="font-size:12px; font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace "><cty>{{ actual['cit_2'] }}</cty> t{{ actual['temp_2'] }}℃(l.f.:{{ actual['f_l_2'] }}℃) {{ actual['con_2'] }}</div>
    <div style="font-size:12px; font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace "><cty>{{ actual['cit_3'] }}</cty> t{{ actual['temp_3'] }}℃(l.f.:{{ actual['f_l_3'] }}℃) {{ actual['con_3'] }}</div>
    <div style="font-size:12px; font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace "><cty>{{ actual['cit_4'] }}</cty> t{{ actual['temp_4'] }}℃(l.f.:{{ actual['f_l_4'] }}℃) {{ actual['con_4'] }}</div>
    <div style="font-size:12px; font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace "><cty>{{ actual['cit_5'] }}</cty> t{{ actual['temp_5'] }}℃(l.f.:{{ actual['f_l_5'] }}℃) {{ actual['con_5'] }}</div>
  {% else %}
    <div style="font-size:15px; font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace ">Not enough Dumps in DB for view the actual weather in the Cities</div>
  {% endif %}
  {% if g.user %}
    <form action="{{ url_for('weather.create') }}" method="post">
      <input type="submit" name="make_new_dump" value="Make and Download the Actual Dump"/>
    </form>
  {% endif %}

  <form action="{{ url_for('weather.refresh') }}" method="post">
    <input type="submit" name="refresh" value="Refresh Archive List"/>
  </form>

  {% for post in posts %}
    <article class="weather">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">Dump #{{ post['id'] }} by <span
              style="color: #b11050; font-weight: bolder">{{ post['username'] }}</span> on {{ post['created'] }}</div>
        </div>
      </header>
      <table style="width:100%">
        <tr>
          <th>City</th>
          <th>t ℃</th>
          <th>Feel like ℃</th>
          <th>Condition</th>
        </tr>
        <tr>
          <td>{{ post['cit_1'] }}</td>
          <td>{{ post['temp_1'] }}</td>
          <td>{{ post['f_l_1'] }}</td>
          <td>{{ post['con_1'] }}</td>
        </tr>
        <tr>
          <td>{{ post['cit_2'] }}</td>
          <td>{{ post['temp_2'] }}</td>
          <td>{{ post['f_l_2'] }}</td>
          <td>{{ post['con_2'] }}</td>
        </tr>
        <tr>
          <td>{{ post['cit_3'] }}</td>
          <td>{{ post['temp_3'] }}</td>
          <td>{{ post['f_l_3'] }}</td>
          <td>{{ post['con_3'] }}</td>
        </tr>
        <tr>
          <td>{{ post['cit_4'] }}</td>
          <td>{{ post['temp_4'] }}</td>
          <td>{{ post['f_l_4'] }}</td>
          <td>{{ post['con_4'] }}</td>
        <tr>
          <td>{{ post['cit_5'] }}</td>
          <td>{{ post['temp_5'] }}</td>
          <td>{{ post['f_l_5'] }}</td>
          <td>{{ post['con_5'] }}</td>
        </tr>
      </table>
      {% if g.user %}
        <form action="{{ url_for('weather.download_csv', id=post['id']) }}" method="post">
          <input class="danger" type="submit" value="Get dump #{{ post['id'] }} (CSV)">
        </form>
        <form action="{{ url_for('weather.delete', id=post['id']) }}" method="post">
          <input class="danger" type="submit" value="Delete dump #{{ post['id'] }}">
        </form>
      {% endif %}

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
