{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Weather Dumps{% endblock %}</h2>
  {% if g.user %}
    <a class="action" href="http://yandex.ru">Create actual Dump</a>
{#    <a class="action" href="{{ url_for('dump.create') }}">Create actual Dump</a>#}
  {% endif %}
{% endblock %}

{% block content %}
  <h3>5 last dumps:</h3>
  {% for post in posts %}
    <article class="weather">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'] }}</div>
        </div>
      </header>
      <br><span style="color: #257c11; font-weight: bold" class="city">{{ post['city'] }}</span> --
      t: <span style="color: #a81990; font-weight: bold" class="temperature">{{ post['temperature'] }}</span>;
      condition: <span style="color: #25b89b; font-weight: bold" class="condition">{{ post['condition'] }}</span>.<br>
    <button>Download CSV</button></p>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
