{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Weather Dumps:{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% if g.user %}
    <form action="{{ url_for('weather.create') }}" method="post">
      <input type="submit" name="make_new_dump" value="Make actual Dump"/>
    </form>
  {% endif %}

  <form action="{{ url_for('weather.refresh') }}" method="post">
    <input type="submit" name="refresh" value="Refresh list"/>
  </form>
  
  {% for post in posts %}
    <article class="weather">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">Dump #{{ post['id'] }} by <span
              style="color: #b11050; font-weight: bolder">{{ post['username'] }}</span> on {{ post['created'] }}</div>
        </div>
      </header>
      <table style="width:100%">
        <tr>
          <th>City</th>
          <th>t ℃</th>
          <th>Feel like ℃</th>
          <th>Condition</th>
        </tr>
        <tr>
          <td>{{ post['cit_1'] }}</td>
          <td>{{ post['temp_1'] }}</td>
          <td>{{ post['f_l_1'] }}</td>
          <td>{{ post['con_1'] }}</td>
        </tr>
        <tr>
          <td>{{ post['cit_2'] }}</td>
          <td>{{ post['temp_2'] }}</td>
          <td>{{ post['f_l_2'] }}</td>
          <td>{{ post['con_2'] }}</td>
        </tr>
        <tr>
          <td>{{ post['cit_3'] }}</td>
          <td>{{ post['temp_3'] }}</td>
          <td>{{ post['f_l_3'] }}</td>
          <td>{{ post['con_3'] }}</td>
        </tr>
        <tr>
          <td>{{ post['cit_4'] }}</td>
          <td>{{ post['temp_4'] }}</td>
          <td>{{ post['f_l_4'] }}</td>
          <td>{{ post['con_4'] }}</td>
        <tr>
          <td>{{ post['cit_5'] }}</td>
          <td>{{ post['temp_5'] }}</td>
          <td>{{ post['f_l_5'] }}</td>
          <td>{{ post['con_5'] }}</td>
        </tr>
      </table>
      {% if g.user %}
        <form action="{{ url_for('weather.download_csv', id=post['id']) }}" method="post">
          <input class="warning" type="submit" value="Get dump #{{ post['id'] }} (CSV)">
        </form>
        {#        <a class="action" href="{{ url_for('weather.download_csv', id=post['id']) }}">Download</a>#}
      {% endif %}

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
